[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	ui = auto
[core]
	editor = codium
[credential]
	helper = store
[init]
	defaultBranch = master
[user]
	name = Dætalys
	email = f977ddfc-9d0a-4529-88a3-498407b6eb79@8shield.net
	signingkey = C8D8684341692765
