[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Dætalys
	email = f977ddfc-9d0a-4529-88a3-498407b6eb79@8shield.net
[credential]
	helper = store
