# My Aliases
alias rip="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -200 | nl"
alias dotfiles='/usr/bin/git --git-dir=/home/daetalys/.dotfiles/ --work-tree=/home/daetalys'
alias sysupdate='sudo pacman -Syu --noconfirm && yay -Syu --noconfirm && sudo snap refresh && sudo pacman -Qqm > ~/Documents/Packages/Foreign.txt && sudo pacman -Qqn > ~/Documents/Packages/Native.txt && sudo pacman -Qqdt > ~/Documents/Packages/Orphans.txt && sudo snap list > ~/Documents/Packages/Snaps.txt'
alias packupdate='dotfiles add -u && dotfiles commit -S -am "Updated package lists, run commands, and other configuration files." && dotfiles push'
alias dotsync='dotfiles fetch --all && dotfiles reset --hard origin/master'
